// Color Scheme
$color-white: #fff;
$color-platinum: #e6e7e7;
$color-light-gray: #d1d1d1;
$color-eerie-black: #121619;

// Font Sizes
$fz-xx-large: 70px;
$fz-x-large: 30px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 12px;
